@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.header{
    background:#ffffff;
    color: white;
    padding: 0.6rem 0;
 
    left: 0;
    top:0;
    right: 0;
  }
  .container{
    width:85%;
    max-width: 850px;
    margin: 0 auto;
    margin-left: 590px;
    padding: 0 60px;
  }
  .header a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 19px;
  font-family: DM SANS;
  }
  .logo-nav-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  
  }
  .logo-nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    }
  .logo{
    letter-spacing: 15px;
    font-size: 1.3em;
    margin-left: -560px;
  }
  .logo img{
    max-width: 36%; 
    height: auto; 
    
  }
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation ul li {
    display: inline-block;
    margin-right: 16px;
}


.navigation ul li:first-child {
    margin-left: 10px;
}

   .navigation ul li a{
  display: block;
  padding:0.5rem 1 rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  font-family: DM SANS;
   }
   .navigation ul li a:hover{
     background:#C67C4E;
  
   }
   .button-container {
    margin-left: auto; 
}
.button-container a {
  margin-left: auto; 
  color: aliceblue;
  font-family: DM SANS;
}

.button {
    background: #313131;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.4s linear;
 
}

.button:hover {
    background: #333;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .rectangulo-negro {
    width: 18800px;
    height: 20px; 
    background-color: black; 
    float: right;
  
  }
  .seccion-descarga {
    background-color: white;
    padding: 20px;
    margin-bottom: -260px;
  }
  .titulo-descarga {
    float: left;
    font-size:50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
    margin-right: 500px;
    text-align: center;
    
  }
  .parrafo-descarga {
    font-size: 24px;
    margin-left: 130px;
    margin-right: 550px;
    font-family: DM SANS;
    
    
  }
  .imagen-pequena {
    width: 150px; 
    margin: -220px;
    margin-bottom: -150px;
    margin-left: 300px;
    

  }
  .imagen-derecha {
    float: right;
    width: 300px; 
    height: 540px;
    margin-left: auto;
    margin-top: -325px;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
  }

  .pie-de-pagina {
    background-color: #181818;
    color: white;
    padding: 2px;
    display: flex;
    align-items: center;
  }
  .pieimagenes {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    margin-left: -710px;
  
  }
  
  .pieimagenes img {
    max-width: 20%; 
    height: auto; 
    margin-bottom: 10px;
  }
  
  .pietexto {
    flex: 1;
    text-align: center;
    font-size: 20px;
    margin-left: -10px;
    margin-right: -70px;
  
  }

    .seccion-testimonios {
  background-color: white;
  text-align: center;
  padding: 10px;
}
.titulo-seccion-testimonios {
  font-size: 44px;
  text-align: center; 
  margin-top: 300px;
  margin-right: 0px;
 
}

.titulo-testimonios {
  font-size: 24px;
}

.contenedor-cuadros {
  margin-top: -95px;
  display: flex;
  justify-content: space-between;
}


.cuadro {
  background-color: #C67C4E; 
  border: 2px solid #C67C4E;
  padding: 10px;
  width: 30%;
  border-radius: 15px; 
  margin-top: 90px;
}



.titulo-cuadro {
  font-size: 20px;
  font-weight: bold;
  font-family: DM SANS;
  color: white;
}

.descripcion-cuadro {
  font-size: 16px;

  font-family: DM SANS;
  color: white;
}

.nombre-cargo-cuadro {
  font-size: 14px;
  font-style: italic;
  color: white;
}

.imagen-testimonio {
  margin-left: 30px;
  max-width: 46%; 
  border-radius: 10px; 

}
