@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.header{
    background:#ffffff;
    color: white;
    padding: 0.6rem 0;

    left: 0;
    top:0;
    right: 0;
  }
  .container{
    width:85%;
    max-width: 850px;
    margin: 0 auto;
    margin-left: 590px;
    padding: 0 60px;
  }
  .header a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 19px;
  font-family: DM SANS;
  }
  .logo-nav-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  
  }
  .logo-nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    }
  .logo{
    letter-spacing: 15px;
    font-size: 1.3em;
    margin-left: -560px;
  }
  .logo img{
    max-width: 36%; 
    height: auto; 
    
  }
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation ul li {
    display: inline-block;
    margin-right: 16px;
}


.navigation ul li:first-child {
    margin-left: 10px;
}

   .navigation ul li a{
  display: block;
  padding:0.5rem 1 rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  font-family: DM SANS;
   }
   .navigation ul li a:hover{
     background:#C67C4E;
  
   }
   .button-container {
    margin-left: auto; 
}
.button-container a {
  margin-left: auto; 
  color: aliceblue;
  font-family: DM SANS;
}

.button {
    background: #313131;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.4s linear;
 
}

.button:hover {
    background: #333;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}




.container-p {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.container-p h1 {
  font-size: 36px;
  margin-bottom: 500px;
text-align: center;
font-family: DM SANS;
}

.contenido {

  display: flex;
  align-items: center;
  padding: 20px;

}

.container-p p {
  flex: 1;
  padding: 10px;

}

.container-p img {
  border: 1px solid black;
  max-width: 200%;
  height: auto;
}


.rectangulo-negro {
  width: 18800px;
  height: 40px; 
  background-color: black; 
  float: right;
  }


  .container-p {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}

.container-p h1 {
    font-size: 50px;
    margin-bottom: 60px;
    font-family: DM SANS;
    margin-top: 50px;
}

.contenido {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -30px;
    margin-left: -30px;
}

.container-p p {
    flex: 1;
    padding: 10px;
    font-family: DM SANS;
    margin-left: -110px;
   margin-right: 10px;
   margin-top: 20px;
   font-size: 35px;

}

.container-p img {
  border-color: transparent;
    width: 360px;
    height: auto;
    border-radius: 50px;
    margin-right: -30px;
}

.seccion-puntos {
  background-color: #D9D9D9;
  padding: 20px;
  margin-top: 20px;
  height: 2060px;
  width: auto;
}

.seccion-puntos h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-family: DM SANS;
  margin-left: 110px;
  margin-right: 700px;
}
.bola-negra {
  background-color: black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin-left: 110px;
margin-top: 90px;
}

.bola-negra p {
  font-size: 32px;
  font-family: DM SANS;
  margin-top: 40px;
  
}



.circulo {
  width: 75px;
  height: 70px;
  border-radius: 50%;
  background-color: #000; 
  margin: 10px;
  float: left;
  margin-bottom: 70px;
  margin-left: 410px;
  margin-top: -290px;
}
.cirpe {
  width: 37px;
  height: 34px;
  border-radius: 50%;
  background-color: #1a1a1a; 
  margin: 10px;
  float: left;
  margin-bottom: 70px;
  margin-left: 495px;
  margin-top: -240px;
}
.circulo2 {
  width: 75px;
  height: 70px;
  border-radius: 50%;
  background-color: #000; 
  margin: 10px;
  float: left;
  margin-bottom: 70px;
  margin-left: 1060px;
  margin-top: -67px;
}
.cirpe2 {
  width: 37px;
  height: 34px;
  border-radius: 50%;
  background-color: #1a1a1a; 
  margin: 10px;
  float: left;
  margin-bottom: 70px;
  margin-left: 1010px;
  margin-top: -140px;
}

.circulo3 {
  width: 75px;
  height: 70px;
  border-radius: 50%;
  background-color: #000; 
  margin: 10px;
  float: left;
  margin-bottom: 70px;
  margin-left: 410px;
  margin-top: -290px;
}
.cirpe3 {
  width: 37px;
  height: 34px;
  border-radius: 50%;
  background-color: #1a1a1a; 
  margin: 10px;
  float: left;
  margin-bottom: 70px;
  margin-left: 495px;
  margin-top: -230px;
}

.circulo4 {
  width: 75px;
  height: 70px;
  border-radius: 50%;
  background-color: #000; 
  margin: 10px;
  float: left;
  margin-bottom: 70px;
  margin-left: 1030px;
  margin-top: -265px;
}
.cirpe4 {
  width: 37px;
  height: 34px;
  border-radius: 50%;
  background-color: #1a1a1a; 
  margin: 10px;
  float: left;
  margin-bottom: 70px;
  margin-left: 980px;
  margin-top: -220px;
}
.texto-derecha {  
  font-size: 36px;
  margin-left: auto;
  text-align: right;
  margin-bottom: 200px;
  font-family: DM SANS;
  margin-top: -200px;
  margin-left: 460px;
  margin-right: 90px;
}

.bolanegra2{

  background-color: black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin-top: -420px;
  margin-left: 1110px;



}

.bolanegra2 p {
  font-size: 29px;
  font-family: DM SANS;
  margin-top: 40px;


  
}
.texto-izquierda {
  font-size: 36px;
  margin-left: auto;
  text-align: right;
  margin-bottom: 200px;
  font-family: DM SANS;
  margin-right: 430px;
  margin-left: 120px;
  margin-top: 210px;
}
.imgpro {
  width: 550px; 
  height: auto;
   
  margin: 10px; 
  border: 10px solid rgba(0, 0, 0, 0);
  margin-left: 450px;  
  margin-top: 25px; 
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  display:block;

}

.pie-de-pagina {
  background-color: #181818;
  color: white;
  padding: 2px;
  display: flex;
  align-items: center;
}
.pieimagenes {
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  margin-left: -710px;

}

.pieimagenes img {
  max-width: 20%; 
  height: auto; 
  margin-bottom: 10px;
}

.pietexto {
  flex: 1;
  text-align: center;
  font-size: 20px;
  margin-left: -10px;
  margin-right: -70px;

}

.container-p, .seccion-puntos, .imgpro {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}


.container-p.show, .seccion-puntos.show, .imgpro.show {
  opacity: 1;
  transform: translateY(0);
}
